.modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 250;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {

}