.card {
    width: 500px;
    height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    background: white;
}

.docIconBox {
    width: 50px;
    height: 80px;
    padding-top: 20px;
    display: flex;
    align-items: top;
    justify-content: center;
}

.icons {
    width: 35px;
    height: 35px;
    object-fit: contain;
    object-position: center;
}

.actionIcons {
    width: 25px;
    height: 25px;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
}

.actionIcons:hover {
    width: 27px;
    height: 27px;
}

.infoColumn {
    padding: 0px;
    margin: 0px;
    width: 400px;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.infoRow1 {
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.infoRow2 {
    width: 350px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: flex-start;
}

.p1 {
    padding: 0px;
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    margin-right: 10px;
}

.p2 {
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}

.actionBox {
    width: 80px;
    height: 80px;
    padding: 10px 10px 0px 0px;
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: flex-end;
    gap: 5px;
}